// Body
// $body-bg: #3D405B;

// Colors
// $theme-color: #e4e4e4;
$positive :#81B29A;
$app-primary:#F2CC8F;
$app-sub-primary:#F4F1DE;
$app-dark:#3D405B;
$negative:#E07A5F;
$sub-gray:#E3E3E3;
$gray:#757575;
$app-black:#333333;


// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
